.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.cm-s-default .cm-keyword  {color: #a71d5d;}    /* clojure core forms */
.cm-s-default .cm-builtin  {color: #a71d5d;}    /* clojure core library */
.cm-s-default .cm-string   {color: #183691;}    /* clojure strings */
.cm-s-default .cm-variable {color: #333;}       /* clojure misc symbols */
.cm-s-default .cm-def      {color: #795da3;}    /* clojure function calls or defs */
.cm-s-default .cm-atom     {color: #0086b3;}    /* clojure keyword, bool, nil */
.cm-s-default .cm-number   {color: #0086b3;}    /* clojure number */
.cm-s-default .cm-bracket  {color: #333;}       /* clojure brackets */
.cm-s-default .cm-comment  {color: #969896;
                           font-style: italic;} /* clojure comment */

div.CodeMirror span.CodeMirror-matchingbracket {
  background: #e8f2ff;
  color: inherit;
  border-bottom: 1px solid #111;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
}

/* don't change selection color based on an editor's focus status. */
.CodeMirror-selected { background:  #d7d4f0; /* #d9d9d9 */}
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
